/* -------------------------------------------- */
/* HTML Body Start */

:root {
  --black: #121212;
  --white: #fffffe;
  --shadow: 0 1px 2px #12121230, inset 1px 2px 3px #fffffe30;
  --primary-theme: linear-gradient(90deg, #0093e9 0%, #80d0c7 100%);
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  border: none;
  outline: none;
  list-style: none;
  color: currentColor;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  background: lightblue;
  font-family: "Lato", sans-serif;
}

.block {
  margin: 1.5rem;
}

p {
  color: var(--black);
}

@media only screen and (min-width: 480px) {
  p {
    /* font-size: 1.125rem; */
  }
}

/* HTML Body End */
/* -------------------------------------------- */
/* Header Start */

.header * {
  color: var(--black);
}

.header,
.navbar .navbar__nav,
.header__btn-group,
.header__btn {
  display: flex;
  text-transform: capitalize;
}

.header {
  top: 0;
  z-index: 1;
  gap: 0.5rem;
  flex-wrap: wrap;
  position: sticky;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  align-items: center;
  background: #fffffe20;
  border-radius: 4px;
  --blur: blur(1rem) saturate(180%);
  justify-content: space-between;
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  box-shadow: 0 0.75rem 0.75rem #12121220, inset 0 -0.75rem 0.75rem #fffffe20;
  background: rgba(255, 255, 255, 0.3);
}

/* -------------------------------------------- */

.header .navbar-brand {
  /* padding: 0.75rem 0; */
}

/* -------------------------------------------- */
.navbar .navbar__nav-item {
  cursor: pointer;
  padding: 0.75rem;
  margin: 0 0 0.75rem;
  border-radius: 0.75rem;
  /* border-top: 1px solid #fffffe00;
  border-left: 1px solid #fffffe00;
  */
}

.navbar .dropdown .content {
  display: none;
  position: relative;
}

.navbar .dropdown:hover .content {
  display: block;
  position: absolute;
  top: 100%;
  background-color: #fffffe10;
  --blur: blur(1rem) saturate(180%);
  border-radius: 0.75rem;
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  box-shadow: 0 0.75rem 0.75rem #12121220, inset 0 -0.75rem 0.75rem #12121220;
}

.navbar .navbar__nav-item:hover {
  background-color: #fffffe20;
  --blur: blur(1rem) saturate(180%);
  /* --border: 1px solid #fffffe20;
  border-top: var(--border);
  border-left: var(--border);
  */
  box-shadow: var(--shadow);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
}

/* -------------------------------------------- */
.header__btn-group {
  gap: 10px;
}

.header__btn {
  /* font-weight: 700; */
  padding: 0.5rem 1.5rem;
  border-radius: 0.75rem;
  background: #fffffe20;
  --blur: blur(0.75rem) saturate(180%);
  box-shadow: 0 1px 2px #12121230, inset 1px 2px 3px #fffffe30;
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__btn:hover {
  background: #fffffe80;
}

.header__btn:nth-child(2) {
  background: #aa4b6b;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #3b8d99,
      #6b6b83,
      #aa4b6b);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #3b8d99,
      #6b6b83,
      #aa4b6b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #b993d6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #8ca6db,
      #b993d6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #8ca6db,
      #b993d6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* -------------------------------------------- */
@media only screen and (max-width: 480px) {
  .header__btn:last-child {
    display: none;
  }
}

@media only screen and (max-width: 857px) {
  .navbar {
    display: none;
  }
}

/* Header End */
/* -------------------------------------------- */
/* Front-page Start */

.front-page,
.front-page .heading-content,
.front-page .heading-content .title,
.front-page .heading-content h2 {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  flex-wrap: wrap;
}

.front-page {
  flex-direction: column;
}

.front-page .heading-content {
  flex-direction: column;
}

.front-page .heading-content .title {
  font-size: 3.125rem;
  color: #fffffe;
  text-shadow: 3px 3px 3px #121212;
  animation-name: title;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-timing-function: ease;
  width: 100%;
  border-radius: 0.75rem;
  background-image: url("src/abstract-blue-curve-wave-fluid-aqua-light-smooth-design-modern-futuristic-background-vector.jpg");
}

@keyframes title {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    /*  transform:translateY(0); */
  }
}

.front-page .heading-content h2 {
  color: #fffffd;
  font-size: 1.125rem;
  text-shadow: 0 1px 1px #121212;
  animation: subtitle 1.125s 1 ease backwards;
}

@keyframes subtitle {
  0% {
    scale: 12;
  }
}

.front-page .text {
  text-align: center;
  font-size: 0.75rem;
  font-family: "Bree Serif", serif;
}

.front-page .heading-content h1,
.front-page .heading-content h2,
.front-page .text::first-letter {
  text-transform: capitalize;
}

.front-page .heading-content .title:hover,
.front-page .heading-content h3:hover,
.front-page div .text:hover {
  scale: 1.125;
}

/* Front-page End */
/* -------------------------------------------- */
/* Card-group Start */
/*
.card:has(.figure, .card__body, .heading-content, .btn-group) {
  display: flex;
}
.card,
.card .figure,
.card .card__body,
.card .card__body .heading-content,
.card .btn-group {
  display: flex;
}
*/
.card-group {
  gap: 0.75rem;
  margin: 0;
  padding: 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  display: flex;
  gap: 0.75rem;
  padding: 0.75rem 1.5rem;
  background-size: 100%;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.75rem;
  /* box-shadow: 0 3px 5px #12121230, inset 2px 3px 5px #fffffe50; */
  box-shadow: var(--shadow);
  opacity: 0.5;
  scale: 0.5;
}

.card.show {
  scale: 1;
  opacity: 1;
}

.card:hover {
  filter: saturate(3);
  /* filter: contrast(1.2) saturate(1.5) hue-rotate(45deg); */

  background-size: 500%;
  /*  box-shadow: inset 0 7px 10px black; */
}

/* -------------------------------------------- */

.card .figure {
  display: flex;
  justify-content: center;
}

.card-img-top {
  width: 12rem;
  height: 16rem;
  object-fit: contain;
  filter: drop-shadow(0 1px 2px #121212);
}

.card:hover .card-img-top {
  transform: translateY(10px) translateZ(2rem);
}

/* -------------------------------------------- */

.card__body {
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

.card__body .heading-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__text {
  font-size: 0.75rem;
  /* color: #2c2v2v; */
}

.card__text::first-letter {
  text-transform: capitalize;
}

/* -------------------------------------------- */
.card .card__body .btn-group {
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

.card .btn {
  color: #fffffe;
  font-size: 1rem;
  padding: 0.75rem;
  font-weight: 700;
  border-radius: 14px;
  background-size: 100%;
  text-transform: capitalize;
  background-color: lightblue;
  background: linear-gradient(360deg, #0093e9 0%, #80d0c7 100%);
}

.card .btn:hover {
  transform: scale(1.1);
  background-size: 500%;
  /* background: linear-gradient(330deg, #0093E9 0%, #80D0C7 100%); */
}

.card .btn-group .btn:last-child {
  background: linear-gradient(360deg, #0093e9 0%, #44444480 100%);
  background: linear-gradient(360deg, #121212 0%, #44444480 100%);
}

.navigation {
  right: 0.75rem;
  bottom: 0.75rem;
  z-index: 2;
  margin: 0.75rem;
  cursor: none;
  padding: 0.75rem;
  color: #fffffe;
  height: 3.7rem;
  position: fixed;
  font-size: 2rem;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #0093e9;
  box-shadow: var(--shadow);
}

.navigation:active {
  scale: 0.9;
}

/* Card-group End */
/* -------------------------------------------- */
/* Footer Start */

.footer {
  margin-top: 0.75rem;
  text-transform: capitalize;
}

.footer__row {
  padding: 1rem;
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) rgba(18, 18, 18, 0.3));
  background: rgba(0, 0, 0, 0.7);
  /*   box-shadow: inset 1px 2px 3px #fffffe30; */
  box-shadow: var(--shadow);
}

.footer__menu {
  font-size: 0.75rem;
  margin-left: 0.75rem;
}

.footer__title {
  color: #e8b44f;
  font-size: 1.125rem;
  font-family: "Bree Serif";
}

.footer__item {
  /* margin: 0.75rem 0; */
  color: #fffffe;
  cursor: text;
}

.footer__link:hover {
  text-decoration: underline;
}

/* -------------------------------------------- */

.footer__second-row {
  display: flex;
  color: #fffffe;
  flex-wrap: wrap-reverse;
  padding: 0.75rem 1.5rem;
  background: #fffffe20;
  border-top: 1px solid #fffffe20;
  --blur: blur(0.75rem);
  border-bottom: 1px solid #fffffe20;
  /* backdrop-filter: var(--blur); */
  -webkit-backdrop-filter: var(--blur);
  box-shadow: 0 -0.75rem 0.75rem #12121220, inset 0 0.75rem 0.75rem #fffffe20;

  background: rgba(0, 0, 0, 0.7);
}

.footer__second-row .copyright {
  color: #fffffe;
  text-align: center;
  margin: 0.75rem auto;
  flex-direction: column;
}

.footer__second-row .footer__menu {
  display: flex;
  margin: 0.75rem auto;
}

.footer__second-row .footer__menu .footer__item {
  margin: 0 0.75rem;
  font-size: 0.875rem;
  cursor: text;
}

@media only screen and (max-width: 660px) {
  .footer__second-row .copyright {
    font-size: 0.75rem;
  }
}

/* Footer End*/
/* -------------------------------------------- */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #fffffe;
  }
}